body {
  background-color:#ccc;
  font:13px tahoma,arial;
  color:#151515;
  direction:ltr;
}
h1 {
  text-align:center;
  font-size:24px;
}
dl {
  margin:0px;
  padding:0px;
}
#content {
  width:1024px;
  margin:0px auto;
  padding:35px 40px;
  border:1px solid #e8e8e8;
  background:#fff;
  overflow:hidden;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
}
dl dt {
  cursor:pointer;
  background:#5f9be3;
  color:#fff;
  float:left;
  font-weight:700;
  margin-right:10px;
  width:99%;
  position:relative;
  padding:5px
}
dl dt .plus {
  position:absolute;
  right:4px
}
dl dd {
  margin:2px 0;
  padding:5px 0
}
dl dd dl {
  margin-top:24px;
  margin-left:60px
}
dl dd dl dt {
  background:#4FCBA3!important;
  width:180px!important
}
.error {
  background-color:#FFEBE8;
  border:1px solid #DD3C10;
  padding:4px 10px;
  margin:5px 0px;
}
.success {
  background-color:#fff;
  border:1px solid #bdc7d8;
  padding:4px 10px;
  margin:5px 0px;
}
.info {
  background-color:#fff9d7;
  border:1px solid #e2c822;
  padding:4px 10px;
  margin:5px 0px;
}
.clearer {
  clear:both;
  height:0px;
  font-size: 0px;
}
.hidden {
  display:none;
}
.green {
  font-weight: bold;
  color: #92B901;
}
.red {
  font-weight: bold;
  color: #DD3C10;
}
.orange {
  font-weight: bold;
  color: #DD3C10;
}
.green small {
  font-weight: normal !important;
  color: #151515 !important;
}
.filesfound {
  position: relative;
}
.files {
  position: absolute;
  left:4px;
  background-color:#FFF9D7;
}
iframe {
  border:0px;
  height: 24px;
  width: 100%;
}
.small {
  font-size: 10px;
  font-weight:normal;
}
.ui-widget-content dl dd dl {
  margin-left: 0px !important;
}
.ui-widget-content input {
  width: 310px;
  margin-top: 4px;
}
#loader {
  position: fixed;
  top: 25%;
  bottom: 0%;
  left: 45%;
  z-index: 99;
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 125px;
  text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	text-indent: -20px;
	font-size: 24px;
	color: #5F9BE3;
}
#circularG {
	position:relative;
	width:128px;
  height:128px
}
.circularG {
	position:absolute;
	background-color:#5F9BE3;
	width:29px;
	height:29px;
	-webkit-border-radius:19px;
	-moz-border-radius:19px;
	-webkit-animation-name:bounce_circularG;
	-webkit-animation-duration:1.04s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-moz-animation-name:bounce_circularG;
	-moz-animation-duration:1.04s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	border-radius:19px;
	-o-animation-name:bounce_circularG;
	-o-animation-duration:1.04s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-ms-animation-name:bounce_circularG;
	-ms-animation-duration:1.04s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
}
#circularG_1 {
	left:0;
	top:50px;
	-webkit-animation-delay:0.39s;
	-moz-animation-delay:0.39s;
	-o-animation-delay:0.39s;
	-ms-animation-delay:0.39s;
}
#circularG_2 {
	left:14px;
	top:14px;
	-webkit-animation-delay:0.52s;
	-moz-animation-delay:0.52s;
	-o-animation-delay:0.52s;
	-ms-animation-delay:0.52s;
}
#circularG_3 {
	top:0;
	left:50px;
	-webkit-animation-delay:0.65s;
	-moz-animation-delay:0.65s;
	-o-animation-delay:0.65s;
	-ms-animation-delay:0.65s;
}
#circularG_4 {
	right:14px;
	top:14px;
	-webkit-animation-delay:0.78s;
	-moz-animation-delay:0.78s;
	-o-animation-delay:0.78s;
	-ms-animation-delay:0.78s;
}
#circularG_5 {
	right:0;
	top:50px;
	-webkit-animation-delay:0.9099999999999999s;
	-moz-animation-delay:0.9099999999999999s;
	-o-animation-delay:0.9099999999999999s;
	-ms-animation-delay:0.9099999999999999s;
}
#circularG_6 {
	right:14px;
	bottom:14px;
	-webkit-animation-delay:1.04s;
	-moz-animation-delay:1.04s;
	-o-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
}
#circularG_7 {
	left:50px;
	bottom:0;
	-webkit-animation-delay:1.1700000000000002s;
	-moz-animation-delay:1.1700000000000002s;
	-o-animation-delay:1.1700000000000002s;
	-ms-animation-delay:1.1700000000000002s;
}
#circularG_8 {
	left:14px;
	bottom:14px;
	-webkit-animation-delay:1.3s;
	-moz-animation-delay:1.3s;
	-o-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
}
@-webkit-keyframes bounce_circularG {
	0% {
		-webkit-transform:scale(1)
	}
	100% {
	-webkit-transform:scale(.3)
	}
}
@-moz-keyframes bounce_circularG {
	0% {
		-moz-transform:scale(1)
	}
	100% {
		-moz-transform:scale(.3)
	}
}
@-o-keyframes bounce_circularG {
	0% {
		-o-transform:scale(1)
	}
	100% {
		-o-transform:scale(.3)
	}
}
@-ms-keyframes bounce_circularG {
	0% {
		-ms-transform:scale(1)
	}
	100% {
		-ms-transform:scale(.3)
	}
}